align-cases=false
align-constructors-decl=false
align-variants-decl=false
assignment-operator=end-line
break-before-in=fit-or-vertical
break-cases=fit-or-vertical
break-collection-expressions=fit-or-vertical
break-fun-decl=fit-or-vertical
break-fun-sig=fit-or-vertical
break-infix-before-func=false
break-infix=fit-or-vertical
break-separators=after
break-sequences=true
break-string-literals=never
break-struct=force
cases-exp-indent=2
cases-matching-exp-indent=normal
disambiguate-non-breaking-match=false
doc-comments-padding=2
doc-comments-tag-only=default
doc-comments=before
dock-collection-brackets=true
exp-grouping=parens
extension-indent=2
field-space=tight-decl
function-indent-nested=always
function-indent=2
if-then-else=keyword-first
indent-after-in=0
indicate-multiline-delimiters=closing-on-separate-line
indicate-nested-or-patterns=unsafe-no
infix-precedence=parens
leading-nested-match-parens=false
let-and=sparse
let-binding-indent=2
let-binding-spacing=compact
let-module=compact
margin=80
match-indent-nested=always
match-indent=0
max-indent=68
module-item-spacing=sparse
nested-match=wrap
ocp-indent-compat=false
parens-ite=true
parens-tuple-patterns=always
parens-tuple=always
parse-docstrings=false
sequence-blank-line=preserve-one
sequence-style=terminator
single-case=compact
space-around-arrays=true
space-around-lists=true
space-around-records=true
space-around-variants=true
stritem-extension-indent=2
type-decl-indent=2
type-decl=sparse
wrap-comments=false
wrap-fun-args=false
